[Desktop Entry]
Version=1.0
Type=Application
Name=Sputter Vacuum Controller
Comment=DC magnetron sputter deposition controller
Exec=/home/raspberrypi/Sputter_ctrl/venv/bin/python /home/raspberrypi/Sputter_ctrl/main.py
Path=/home/raspberrypi/Sputter_ctrl
Icon=/home/raspberrypi/Sputter_ctrl/Docs/app-icon.png
Terminal=true
Categories=Utility;Science;
StartupNotify=true
